main .slick-track{
  height: 60vh;
}

main .slick-slide{
  position: relative;
  height: 100%;
}

main .slick-slide>div{
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
}

main .slick-slide img{
    object-fit: contain;
    height: 100%;
}